@{
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" href="~/css/site.css">


<h1>
    <img class="captain" src="~/images/Captain.gif" />
    Captin' Close
</h1>


<div id="container">

    <video id="gum" autoplay muted></video>
    <video id="recorded" loop controls></video>

    <div>
        <button id="record" disabled>Start Recording</button>
        <button id="play" disabled>Play</button>
        <button id="download" disabled>Download</button>
    </div>

</div>

<script src="~/js/site.js"></script>
