@{
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" href="~/Content/Site.css">


<h1>
    <img class="captain" src="~/images/Captain.gif" />
    Captin' Close
</h1>

<div id="container">
    <div>
        <span>Step 1.</span>
        <button id="identify">Identify</button>
    </div>

    <video id="gum" autoplay muted></video>
    <audio id="recorded" loop controls></audio> @*DEBUG*@

    <div>
        <span>Step 2.</span>
        <button id="record" disabled>Start Translating</button>        
    </div>
    <div>
        <span>Step 3.</span>
        <button id="play" disabled>Play</button> @*DEBUG*@
        <button id="download" disabled>Download Recording</button>       
    </div>
    <div class="translation"></div>
</div>

<script src="~/Scripts/site.js"></script>
<script type="text/javascript">
    $.ajax({
        url: '/GetTranslation',
        type: 'POST',
        dataType: 'json',
        success: function (data) {
            $(".translation").html=data
        }
    });
</script>
